<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>112842842073-n7qkr7n9cblera1grlm2bant2f6ukdp0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.112842842073-n7qkr7n9cblera1grlm2bant2f6ukdp0</string>
	<key>API_KEY</key>
	<string>AIzaSyAyd2c3Ub-DyH_WM4h66DblOld-BFFUOv4</string>
	<key>GCM_SENDER_ID</key>
	<string>112842842073</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ccchat</string>
	<key>PROJECT_ID</key>
	<string>ccchat-tfg</string>
	<key>STORAGE_BUCKET</key>
	<string>ccchat-tfg.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:112842842073:ios:61e37d66ea6bc2a2c043c8</string>
</dict>
</plist>